<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Home - Sistema de Gestão</title>
</head>
<body>
<h1 wicket:id="title"></h1>

<p>Bem-vindo ao Sistema de Gestão! Selecione uma das opções abaixo:</p>

<ul>
    <li><a wicket:id="cadastroLink">Cadastro de Cliente e Endereço</a></li>
    <li><a wicket:id="clienteLink">Lista de Clientes</a></li>
    <li><a wicket:id="enderecoLink">Lista de Endereços</a></li>
    <li><a wicket:id="relatoriosLink">Gerar Relatórios</a></li>
</ul>
</body>
</html>
