<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <filter>
        <filter-name>Wicket Filter</filter-name>
        <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>Wicket Filter</filter-name>
        <url-pattern>/*</url-pattern>  <!-- Mapear todas as requisições -->
    </filter-mapping>

</web-app>
