<div class="container">
  <div class="header">
    <h1>Clientes</h1>
    <button mat-raised-button color="primary" (click)="novoCliente()">
      <mat-icon>add</mat-icon> Novo Cliente
    </button>
  </div>

  <table mat-table [dataSource]="clientes" class="mat-elevation-z8">
    <!-- Colunas -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let cliente"> {{ cliente.nome }} </td>
    </ng-container>

    <ng-container matColumnDef="cpfCnpj">
      <th mat-header-cell *matHeaderCellDef> CPF/CNPJ </th>
      <td mat-cell *matCellDef="let cliente"> {{ cliente.cpfCnpj | cpfCnpj }} </td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let cliente">
        <button mat-icon-button color="primary" (click)="editarCliente(cliente)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="excluirCliente(cliente.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunas"></tr>
    <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
  </table>
</div>
