h2.mat-dialog-title {
  color: #3f51b5; /* Cor do título */
  font-size: 1.5em;
  margin-bottom: 16px;
}

mat-dialog-content p {
  font-size: 1.1em;
  color: #333;
}

mat-dialog-actions {
  padding: 16px 0;
}

button {
  margin-left: 8px;
}
